apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: palisade-pv-claim
spec:
    storageClassName: manual
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 5Gi